.add_title{
	padding-bottom:10px;
	margin-bottom:15px;
	height: 60px;
}
.add_title>span{
	border-bottom: 2px solid #1ab394;
	font-size: 24px;
}
.add_body >div >.nicescroll{
	border-right:1px dotted #ccc
}
.add_body_title{
	margin:15px auto 30px auto;
	padding-left: 60px;
}
.add_body_form>form>.form-group{
	margin-bottom: 25px;
}
body{overflow-y:hidden;}
.form-control{
	float:left;
}